/* DoctorList.css */
.large-box-admin-side {
    display: flex;
    flex-direction: column;

  }
  
  .colour-admin-side {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 50%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .img-admin-side-doctor {
    width: 210px;
    height: 253px;
    margin-right: 10px;
  }
  
  .content-column-admin-side {
    display: flex;
    flex-direction: column;
  }
  
  .content-row-admin-side {
    display: flex;
    align-items: center;
  }
  
  .booking-btn {
    border: none;
    background-color: #1E9AF1;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 170px;
  }
  
  .booking-btn svg {
    width: 25px;
    height: 24px;
    fill: white;
    margin-right: 10px;
  }
  
  .booking-btn h3 {
    margin: 0;
  }
  
  svg.icon {
    width: 14px;
    height: 14px;
    fill: #7c7b7b;
    margin-right: 10px;
  }
  .admin-side-row{
   
    margin-top: 10px;
  }
  .h5{
    padding-left: 200px;

  }
 .h6{
  padding-left: 60px;
 }
.tr{
  margin-top: 90px;
}
@media only screen and (max-width: 840px) {
  .h5 {
      padding-left: 50px;
  }
}